---
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  workflow_dispatch:

name: Versioning
permissions:
  contents: read

concurrency:
  group: "${{ github.ref }}-${{ github.workflow }}"
  cancel-in-progress: true

jobs:
  versioning:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: calculate version
        id: calculate-version
        uses: bitshifted/git-auto-semver@76f68b35706881aead71cffabf3f4869ce800d8e # pin@v1
        with:
          create_tag: true
          initial_version: 0.0.1
          tag_prefix: v

      - name: Generate release notes
        id: release-notes
        uses: RedCrafter07/release-notes-action@31674bfa3a219e7c661fc0c5b7b3851c741b9965 # pin@v1.0.1
        with:
          tag-name: "v${{ steps.calculate-version.outputs.version-string }}"
          token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Create release
        id: create-release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # pin@v2.4.2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          name: "v${{ steps.calculate-version.outputs.version-string }}"
          body: "${{ steps.release-notes.outputs.release-notes }}"
          tag_name: "v${{ steps.calculate-version.outputs.version-string }}"
          draft: false
          prerelease: false
